.gitbook-link {
    display: none !important;
}
.markdown-button {
    background-color: #0138b9;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
    border-radius:4px;
    font-weight: bold;
    align-items: center;
    height: 40px;
    text-align: center;
	display:inline-flex;
	cursor:pointer;
	color:#ffffff;
	padding:4px 20px 3px;
  
  .button:hover {
    background-color:#00138b;
  } 